{% extends "@App/classroom/classroomLayout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/studentClassroom.css') }}" type="text/css" rel="stylesheet" />
    <link href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
    {{ parent() }}
    <div id="videoContainer">
        <video id="localVideo"></video>
        <div id="remoteVideos"></div>
    </div>
    <div id="classroom">
        <iframe src="https://whiteboard.siplo.xyz/whiteboard/123/" frameborder="0" width="100%" height="100%"></iframe>
    </div>

    {#<button type="button" class="btn btn-primary btn-lg" onclick="showPlayer()">#}
        {#Launch demo modal#}
    {#</button>#}
    <button type="button" class="btn btn-primary btn-lg" onclick="showPlayer()">
        Show Video
    </button>
    <!-- Modal -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static"
         data-keyboard="false" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {#<h4 class="modal-title" id="myModalLabel">Modal title</h4>#}
                </div>
                <div class="modal-body">
                    <div id="videoPlayer" style="position: relative;z-index: 1000;" >
                        <video id="video" class="videoInsert" controls>
                            {#<source src="http://videos.mozilla.org/serv/webmademovies/popcornplug.mp4">#}
                            {#<source src="http://videos.mozilla.org/serv/webmademovies/popcornplug.ogv">#}
                            {#<source src="http://videos.mozilla.org/serv/webmademovies/popcornplug.webm">#}
                        </video>
                        <div id="scrub"></div>
                    </div>
                </div>
                {#<div class="modal-footer">#}
                {#<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
                {#<button type="button" class="btn btn-primary">Save changes</button>#}
                {#</div>#}
            </div>
        </div>
    </div>



{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var myRole = 'teacher';
        function showQuestion(question){
            $('#classroom').append('<div id="questionContainer" class="row" style="width:70vw; position: absolute;z-index: 1000;left: 30vw;top:5vh">' +
                    '<div class="card" style="padding: 5px">'
                    +'<div class="h5 "><span class="text-info">Question: </span>'+question+' </div>'
                    +'</div>'
                    +'</div>'

            );
        }
        function showAlert(message){
            $('#classroom').append('<div id="alert" class="row" style="width:70vw; position: absolute;z-index: 1000;left: 30vw;top:5vh">' +
                    '<div class="card" style="padding: 5px">'
                    +'<div class="h5 "><span class="text-info">'+message+'</span> </div>'
                    +'</div>'
                    +'</div>'

            );
        }
        function clearAlert(){
            $("#alert").remove();
        }
        function clearQuestion(){
            $("#questionContainer").remove();

        }

    </script>
    <script src="{{ '/js/simplewebrtc.bundle.js' }}" type="text/javascript"></script>
    <script src="{{ '/js/siploWebRTC.js' }}" type="text/javascript"></script>

    {#scripts for video player#}
    <script src="{{ '/js/popcorn-complete.js' }}"></script>
    {#<script#}
            {#src="https://code.jquery.com/jquery-3.1.0.min.js"#}
            {#integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="#}
            {#crossorigin="anonymous">#}

    {#</script>#}
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
    <script src="{{ '/js/messageHandler.js' }}" type="text/javascript"></script>

    <script src="{{ '/js/videoPlayer.js' }}" type="text/javascript"></script>
    {##########################}

    <script>
        //video player scripts
        $('.modal-content').resizable({
            //alsoResize: ".modal-dialog",
            minHeight: 300,
            minWidth: 300
        });
        $('.modal-dialog').draggable();

        $('#videoModal').on('show.bs.modal', function () {
            $(this).find('.modal-body').css({
                'max-height':'100%'
            });
        });
        var video = document.getElementById('video');
        var source = document.createElement('source');

        source.setAttribute('src', 'https://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv');

        video.appendChild(source);
       // video.play();
        function showPlayer(){
            $('#videoModal').modal({
                show: true
            });
        }
        function hidePlayer(){

            $('#videoModal').modal('hide');
        }

    </script>
{% endblock %}
