{% extends "@App/classroom/classroomLayout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/teacherWhiteboard.css') }}" type="text/css" rel="stylesheet" />
    <link href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    {{ parent() }}
    <div id="videoContainer" class="well">
        <video id="localVideo"></video>
        <div id="remoteVideos" onclick="enlarge()"></div>
    </div>
    <div id="classroom">
        <iframe src="https://whiteboard.siplo.xyz/whiteboard/123/tutor" frameborder="0" width="100%" height="100%"></iframe>
    </div>
    <div id="question-list" class="card row" style="padding:10px;width:15vw; position: relative;z-index: 1000;left: 80vw;background: rgba(250,250,145,0.5)">
        <div style="margin: 0" class="text-center text-warning h5">Questions</div>
    </div>
    <div id="raisedHands-list" class="card row" style="padding:10px;width:15vw; position: relative;z-index: 1000;left: 80vw;background: rgba(100,250,150,0.5)">
        <div style="margin: 0" class="text-center text-success h5">Raised Hands</div>
    </div>

    {#<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#videoModal">#}
        {#Launch demo modal#}
    {#</button>#}
    <button type="button" class="btn btn-primary btn-lg" onclick="showPlayer()">
        Show Video
    </button>
    {#<button id="browsFiles" type="button" class="btn btn-primary btn-lg" >#}
        {#Show Video#}
    {#</button>#}

    <!--video Modal -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static"
         data-keyboard="false" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="hidePlayer()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {#<h4 class="modal-title" id="myModalLabel">Modal title</h4>#}
                </div>
                <div class="modal-body">
                    <div id="videoPlayer" style="position: relative;z-index: 1000;" >
                        <video id="video" class="videoInsert" controls="controls">
                            {#<source src="http://videos.mozilla.org/serv/webmademovies/popcornplug.mp4">#}
                            {#<source src="http://videos.mozilla.org/serv/webmademovies/popcornplug.ogv">#}
                            {#<source src="http://videos.mozilla.org/serv/webmademovies/popcornplug.webm">#}
                        </video>
                        <div id="scrub"></div>
                    </div>
                </div>
                {#<div class="modal-footer">#}
                    {#<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
                    {#<button type="button" class="btn btn-primary">Save changes</button>#}
                {#</div>#}
            </div>
        </div>
    </div>
    {# file browser modal #}
    <!--http://stackoverflow.com/questions/25874001/how-to-put-scrollbar-only-for-modal-body-in-bootstrap-modal-dialog-->
    <div id = "fileBrowserModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style=" max-height:85%;  margin-top: 50px; margin-bottom:50px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Select a File</h3>
                </div>
                <div class="modal-body">
                    <div id="container">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id='openFileButton' class="btn btn-default">Open</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        //this role is used for webrtc communication
        var myRole = 'teacherWhiteboard';
        var myUsername = '{{ app.user.username }}';
    </script>
    <script src="{{ '/js/simplewebrtc.bundle.js' }}" type="text/javascript"></script>
    <script src="{{ '/js/messageHandler.js' }}" type="text/javascript"></script>
    <script src="{{ '/js/siploWebRTC.js' }}" type="text/javascript"></script>

    {#scripts for video player#}
    <script src="{{ '/js/popcorn-complete.js' }}"></script>
    {#<script#}
            {#src="https://code.jquery.com/jquery-3.1.0.min.js"#}
            {#integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="#}
            {#crossorigin="anonymous">#}

    {#</script>#}
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>


    <script src="{{ '/js/videoPlayer.js' }}" type="text/javascript"></script>
    {##########################}
    {# File Browser for video #}
    <script src='{{ '/assets/vendor/jstree/dist/jstree.min.js' }}'></script>
    <script src="{{ '/js/fileBrowse.js' }}" type="text/javascript"></script>

    {##########################}
    <script>
        var questionId=0;
        var questionCount=0;
        var raisedHandCount=0;
        $("#question-list").hide();
        $("#raisedHands-list").hide();

        //add question to question list
        function addQuestion(question){

            $("#question-list").append('<div id="q'+questionId+'" class="card" style="padding: 5px">'+
                   ' <div id="'+questionId+'" class="h5 ">'+question+ '</div>'+
            '<button onclick="answer(\''+questionId+'\')" class="btn btn-success" >Answer</button>'+
                    '</div>');
            questionId++;
            questionCount++;
            if(questionCount==1){
                $("#question-list").show();
            }
        }
        //add question to whiteboard and answer
        function answer(qID){
            var question = $("#"+qID+"").html();
            $("#q"+qID).remove();
            showQuestion(question);
            sendMessage('answer',myUsername,question);
           // webrtc.sendToAll('answer',question);
            questionCount--;
            if(questionCount==0){
                $("#question-list").hide();
            }

        }


        //show question in whiteboard
        function showQuestion(question){
            $('#classroom').append('<div id="questionContainer" class="row" style="width:70vw; position: absolute;z-index: 1000;left: 30vw;top:5vh">' +
                    '<div class="card" style="padding: 5px">'
                    +'<div class=" h5"><span class="text-info">Question: </span>'+question+' </div>'
                    +'<button onclick="clearQuestion()" class=" btn btn-danger pull-right" >Clear</button>'
                    +'</div>'
                    +'</div>'

            );
        }
        //clear question from whiteboard
        function clearQuestion(){
            $("#questionContainer").remove();
            sendMessage('clear',myUsername,'');
            //webrtc.sendToAll('clear','c');

        }
        function finishedAsking(){
            $("#questionContainer").remove();
        }
        function studentRaisedHand(name){
            //alert(name+" raised hand");
            addRaisedHand(name);
        }
        function addRaisedHand(name){
            $("#raisedHands-list").append('<div id="'+name+'" class="card" style="padding:5px">'+
                    ' <div class="h5 ">'+name+ '</div>'+
                    '<button onclick="allow(\''+name+'\')" class="btn btn-success" >Allow</button>'+
                    '</div>');
           // questionId++;
            raisedHandCount++;
            if(raisedHandCount==1){
                $("#raisedHands-list").show();
            }
        }

        //add question to whiteboard and answer
        function allow(name){

            showAlert(name+" is asking a question","Stop","stopQuestion");
            sendMessage('allowQuestion',myUsername,name);
            // webrtc.sendToAll('answer',question);
            raisedHandCount--;
            $("#"+name).remove();
            if(raisedHandCount==0){
                $("#raisedHands-list").hide();
            }


        }
        function stopQuestion(){
            clearAlert();
            sendMessage('finished',myUsername,'');
        }
        function showAlert(message,buttonText,onClicked ){
            onClicked = onClicked || "clearAlert";

            $('#classroom').append('<div id="questionContainer" class="row" style="width:70vw; position: absolute;z-index: 1000;left: 36vw;top:5vh">' +
                    '<div class="card" style="padding: 5px">'
                    +'<div class=" h5"><span class="text-info">'+message+' </div>'
                    +'<button onclick="'+onClicked+'()" class=" btn btn-danger pull-right" >'+buttonText+'</button>'
                    +'</div>'
                    +'</div>'

            );
        }
        function clearAlert(){
            $("#questionContainer").remove();
        }
        //video player scripts
        $('.modal-content').resizable({
            //alsoResize: ".modal-dialog",
            minHeight: 300,
            minWidth: 300
        });
        $('.modal-dialog').draggable();

        $('#videoModal').on('show.bs.modal', function () {
            $(this).find('.modal-body').css({
                'max-height':'100%'
            });
        });
        var video = document.getElementById('video');
        var source = document.createElement('source');

        source.setAttribute('src', 'https://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv');

        video.appendChild(source);
       // video.play();
        function showPlayer(){
            $('#videoModal').modal({
                show: true
            });
            emitMessage("open","");
        }
        function hidePlayer(){

            emitMessage("close", "");

        }



        var enlarged=false;
        function enlarge() {

            if(!enlarged) {
//                $('#remoteVideos').children().height(480);
                $('#remoteVideos').children().width(640);
                $('#videoContainer').css({right: 640});
                enlarged=true;
            }
            else{
                enlarged=false;
//                $('#remoteVideos').children().height(120);
                $('#remoteVideos').children().width(250);
                $('#videoContainer').css({right: 260});
            }
        }

    </script>
{% endblock %}